* {
    box-sizing: border-box;
    display: inline-block;
}

body {
    background-color: rgb(177, 168, 201);
    max-width: 960px;
    color: rgb(36, 51, 53);
    margin: 0 auto;

}

header {
    font-size: 2rem;
    position: fixed;
    left: 0;
    right: 0;
    padding: .5em 1em;
    box-shadow: 0 2px 4px -2px black;
    background-color: rgb(138, 153, 195);
}

main {
    min-height: 100vh;
    padding: 64px 24px 96px;
    box-shadow: 0 0 12px -2px black;
}

header::after {
    display: block;
    clear: both;
    content: '';
}

.name {
    float: left;
}

.links {
    float: right;
}

.links a {
    text-decoration: none;
    color: inherit;
    margin-left: .25em;
}
.links a:first-of-type {
    margin-left: 0;
}
.links a.active {
    border-bottom: 1px solid #555;
}